body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('../background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity here */
    z-index: 1;
}

header {
    background-color: rgba(0, 0, 0, 0.8); /* Dark background for header */
    padding: 20px;
    text-align: center;
    color: white;
    position: relative;
    z-index: 2;
}

main {
    padding: 20px;
    position: relative;
    z-index: 2;
    color: white;
}

.topic-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.topic-card {
    flex: 1 1 30%;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.topic-card:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

#featured-blogs {
    text-align: center;
}

.featured-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.featured-card {
    flex: 1 1 calc(25% - 20px);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.featured-card:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

footer {
    background-color: rgba(0, 0, 0, 0.8); /* Dark background for footer */
    padding: 10px;
    text-align: center;
    color: white;
    position: relative;
    z-index: 2;
    margin-top: 20px;
}

/* Responsive Design */

@media (max-width: 768px) {
    .topic-card, .featured-card {
        flex: 1 1 100%;
    }
}

